version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:4.8.2 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - restore_cache:
        keys:
          # Find a cache corresponding to this specific package-lock.json
          - v1-npm-deps-{{ checksum "package-lock.json" }}
          # Fallback cache to be used
          - v1-npm-deps-
      - run:
        name: Install Dependencies
        command: yarn install
      - save_cache:
        key: v1-npm-deps-{{ checksum "package-lock.json" }}
        paths:
          - ./node_modules
      - run:
        name: Build stage
        command: yarn build
      - run:
        name: Firebase deployment
        command: ./node_modules/.bin/firebase deploy --token "$FIREBASE_TOKEN"
